@import url('https://fonts.googleapis.com/css?family=Anaheim&display=swap');
@font-face {
    font-family: 'helveticaregular';
    src: url('helvetica-webfont.woff2') format('woff2'),
         url('helvetica-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
  margin: 0px;
  padding: 0px 0px;
}

:root {
  --primary-color: #173b4b;
}

html {
  font-family: 'helveticaregular', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 62.5%;
  overflow-x: hidden;
}

h3 {
  font-weight: bold;
  font-size: 5rem;
  text-align: center;
  margin: 4.5vh;
}

h1 {
  font-weight: bold;
  font-size: 7rem;
  text-align: center;
  margin: 6.5vh;
}

h4 {
  font-family: 'Anaheim', sans-serif;
  color: white;
  font-size: 4rem;

}

h5 {
  font-family: 'Anaheim', sans-serif;
  color: white;
  font-weight: normal;
  font-size: 1.5rem;
}

p {
  font-size: 2.2rem;
}

img {
  border-radius: 4px;
}

nav {
  background-color: var(--primary-color);
  text-align: center;
  position: fixed;
  width: 100%;
}

nav ul {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr;
  list-style: none;
  /*padding: 4rem;*/
  margin: 2rem 0;
}

nav li {
  cursor: pointer;
}

nav li:hover {
  text-decoration: underline;
}

#cut-off-one {
  opacity: 0.3;
}

.nav-title {
  grid-column: 1 / -1;
}

.stage-1 {
  border-bottom: solid;
}

.hero-image {
  padding: 50vh 0px;
  background-image: url('Images/heroImg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  border-bottom-style: solid;
}

.hero-image h2 {
  font-size: 5rem;
  font-family: 'Anaheim', sans-serif;
  position: absolute;
  top: 20%;
  /*left: 41vw;*/
  right: 30vw;

}

.start-box {
  padding: 30vh 20vw;
  border-bottom-style: solid;
}

.next-btn {
  text-align: center;
}

.intro p {
  padding: 0px 20vw;
}

.cake-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.cake-images img {
  max-width: 80%;
  margin: 3.5vh 5vw;
  height: 40vh;
}

.func-example {
  text-align: center;
}

.func-example img {
  max-width: 60%;
  height: 20vh;
}

.func-example div {
  text-align: left;
  margin: 0px 10vw;
}

.stage-2 p {
  padding: 6vh 30vw;
}

.stage-2 {
  border-bottom: solid;
}

.cutoff-1 {

}

.imgArray p {
  padding: 6vh 25vw;
}

.imgArray img {
  max-width: 100%;
  height: 20vh;
  width: 15vw;
}

.img-panel {
  margin: 0px 25vw;
}

.right-img {
  float: right;
}

.lion {
  text-align: center;
}

.lion img {
  max-width: 100%;
  height: 35rem;
}

.cat-img {
  text-align: center;
}

.cat-img img {
  max-width: 100%;
  height: 20rem;
  width: 30rem;
}

.stage-3 p {
  padding: 6vh 25vw;
}

.stage-3 {
  border-bottom: solid;
}

.weight-img {
  text-align: center;
}

.weight-img img {
  max-width: 100%;
  height: 58rem;
  width: 58rem;
}

.math-img {
  text-align: center;
}

.math-img img {
  max-width: 100%;
  height: 45rem;
  width: 45rem;
}

.stage-4 p {
  padding: 6vh 20vw;
}

footer {
  background-color: var(--primary-color);
  padding-top: 3vh;
  padding-bottom: 1vh;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

footer h4 {
  font-weight: normal;
  font-size: 3rem;
}

.nav-grid {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
}

.logo-head {
  grid-column: 1 / -1
}

.cut-off {

}
